<h1>Hola <%= @name %></h1>
    <p>
      ¡Muchas gracias por participar con tu compra en la Gordi Boda!<br>
      Se ha registrado tu pago y los novios se pondrán en contacto contigo en breve<br>
      ¡Nos vemos en Celada!