%section
  .container
    .col-lg.12#success
      %h3 Pedido cancelado
      %p Lo sentimos, no hemos podido procesar tu pedido.
      %p Puedes intentarlo de nuevo más tarde y, si vuelve a ocurrir, ponte en contacto con nosotros. ¡Gracias!
      = image_tag "greetings.png", class: "img-responsive"


