%section
  .container
    .col-lg.12#success
      %h3 ¡Gracias por tu compra!
      %p En breve recibirás un e-mail con la confirmación.
      %p Te esperamos el 10 de septiembre en Celada. ¡No faltes!
      = image_tag "greetings.png", class: "img-responsive"


