- content_for(:header) do
  %header
    .container
      .row
        .col-lg-12
          = image_tag "profile.png", class: "img-responsive"
          .intro-text
            %span.name La gordi Boda
            %hr.star-light
            %span.skills Celada - 10 Septiembre - Spain

/ Portfolio Grid Section
%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 Lista de bodas
        %hr.star-primary

    .row
      .col-lg-12
        %span.skills
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit ligula magna. Nunc elit eros, rhoncus eu molestie nec, hendrerit a ligula. Maecenas ac urna tincidunt, pretium ex nec, eleifend massa. Phasellus pulvinar tortor ut aliquam consectetur. Donec eget venenatis dolor, a porta massa

    .row
      .col-lg-12.budget-search
        %h3 Presupuesto máximo
        = render "search", url: static_index_path


/ About Section
%section#info.success
  .container
    .row
      .col-lg-12.text-center
        %h2 Info
        %hr.star-light
    .row.text-center
      .col-md-6
        %h3 Dressing Code
        %p La boda va a ser de mañana, en un jardín.
        %p Los hombres tendrán que ir de traje
        %p
          Las mujeres pueden ir de corto o largo,
          %br
          y se les recomienda ir planas
        %p Recomendamos llevar jersey o abrigo para la tarde
        %p Sería prudente ver las predicciones del tiempo

      .col-md-6
        %h3 Fechas
        %p La Boda es el día 10 de Septiembre
        %p Comenzará a las 13:00
        %p Los novios estarán en Celada desde el 7 de Septiembre
        %p
          Cualquier invitado es bienvenido desde el 7 de Septiembre,
          %br
          siempre que pueda/quiera ayudar en la organización :)
        %p Rogamos avisar si se va a venir antes del viernes día 9 de Septiembre

/ Contact Section
%section#email
  .container
    .row
      .col-lg-12.text-center
        %h2 Email
        %hr.star-primary
        %br
        %p= mail_to "info@gordiboda.com"

%section#map.success
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Mapa
        %hr.star-light
        #contact-map

        %script(src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&callback=initMap" async defer)

