@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"
@import "static"
@import "jquery-ui"

.user-options
  text-align: center
  margin-top: 3%
  p
    font-weight: 600
    padding: 3%


#product-card
  margin-top: 3%
  img
    margin-top: 3%
  p
    font-size: 16px
  .caption
    margin-left: 3%